<div id="form-container">
  <%= form_tag controller: :questions, action: :create do %>
    <label for="title">Question title:</label>
    <input type="text" id="title" name="question[title]" minlength="5" size="30" required>
    <label for="message">Detailed description:</label>
    <textarea id="message" name="question[message]" cols="55" rows="8" required></textarea>
    <label for="image">Image URL:</label>
    <input type="url" id="image" name="question[image]" size="30">
    <%= hidden_field_tag 'question[user_id]', current_user&.id %>
    <br>
    <button type="submit" class="input">Submit question</button>
    <button type="reset" class="input">Reset</button>
  <% end %>
</div>
