@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Montserrat');

// Colors
$white: whitesmoke;
$main-background: #404E4D;
$page-background: #CDDDDD;
$header-color: #2D3142;
$box-color: #DAE6E6;
$field-color: #A7ADC6;
$highlight-color: #f19117;
$textbox-gradient: linear-gradient(90deg, #CDDDDD, #A7ADC6);
$alternate-table-color: #bfc3d5;
$error-red: #9C1A1C;

// Fonts
$main-font: 'Arial Narrow Bold', sans-serif;
$logo-font: 'Black Han Sans', sans-serif;
$jumbo-font: 'Montserrat', sans-serif;