<div class="registration">
  <div class="tag"><h3>Registration</h3></div>
  <%= form_for(@user) do |f| %>
    <label for="username">Username:<p class="red inline"> *</p></label>
    <input type="text" name="user[username]" id="new_username" value="{{ reg_data['new_user'] }}" required>
    <label for="password">Password:<p class="red inline"> *</p></label>
    <input type="password" name="user[password]" id="password1" required>
    <label for="password2">Confirm password:<p class="red inline"> *</p></label>
    <input type="password" name="password2" id="password2" required>
    <label for="email">E-mail address:<p class="red inline"> *</p></label>
    <input type="email" name="user[email]" id="email" required>
    <label for="firstname">First name:</label>
    <input type="text" name="user[first_name]" id="firstname">
    <label for="lastname">Last name:</label>
    <input type="text" name="user[last_name]" id="lastname">
    <label for="birthdate">Birthday:</label>
    <input type="date" name="user[birthday]" id="birthdate">
    <br>
    <button class="input" type="submit">Register</button>

    <!-- TODO: add error handling -->

  <% end %>
</div>