<h1>About</h1>
<p>This site is sort of a StackOverflow clone originally developed in Python as part of a Codecool team project,
  and redone completely in Rails as part of an individual study project.</p>