<div class="jumbotron">
  <div class="welcome">
    <h1>Welcome to AskMate.com</h1>
    <h2>If you don't know the answer, ask a mate.<br>Or ask Mate. Whichever.</h2>
  </div>
</div>

<div class="page-body">
  <%= render 'questions/index', questions: @questions, title: 'Recent questions' %>
  <div class="list">
    <%= link_to 'List all questions', questions_path, class: 'button' %>
  </div>
  <%= render 'layouts/login-box' %>
</div>
