@import '../helpers/variables';

%button {
  background-color: $highlight-color;
  border-radius: 6px;
  border: 2px solid $main-background;
  width: 200px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;

  &:hover {
    background-color: $field-color;
    color: $header-color;
  }
}

.button {
  @extend %button;
  padding: 10px 20px;
}

.answer-button {
  @extend %button;
  padding: 14px 25px;
  display: inline-block;
  margin: 5px 0 20px 0;
  cursor: pointer;

  p {
    display: inline;
  }
}