/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'helpers/variables';

html {
  overflow-y: scroll;
}

body {
  background-color: $main-background;
  font-family: $main-font;
  margin: 0 4%;
}

a {
  text-decoration: none;
  color: $white;
}

::-moz-focus-inner {
  border: 0;
}

.red {
  color: $error-red;
}

.inline {
  display: inline;
}

.padding {
  padding-bottom: 300px;
}

.grid {
  padding: 2% 0;
  display: grid;
  grid-template: repeat( auto-fit, minmax(120px, 1fr) ) / repeat(12, 1fr);
  grid-auto-flow: row;
  align-items: center;
  align-content: space-evenly;
  background-image: url('background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.banner-index {
  grid-row: 1 / 2;
  grid-column: 1 / 13;
}

.search {
  grid-row: 6 / 7;
  grid-column: 1 / 13;
}

.jumbotron {
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  height: 400px;
  padding: 0 5%;
}

.page-body {
  grid-row: 3 / 4;
  grid-column: 1 / 13;
  background-color: #CDDDDD;
  display: grid;
  grid-template: repeat( auto-fit, minmax(120px, 1fr) ) / 50px repeat(7, 1fr) 50px 1fr 1fr 50px;
  grid-auto-flow: row;
}

.slide-container {
  grid-column: 2 / 9;
  grid-row: 1 / 2;
}

.login-box {
  grid-column: 10 / 12;
  grid-row: 1 / 3;
  margin: 30px 0;
}

#form-container {
  display: none;
  grid-row: 1 / 2;
  grid-column: 2 / 8;
  margin-top: 30px;
}

.table_container {
  grid-row: 2 / 3;
  grid-column: 2 / 9;
  margin-bottom: 50px;
}

.table_container2 {
  grid-row: 3 / 4;
  grid-column: 2 / 9;
  margin-bottom: 50px;
}

.answer-container {
  grid-row: 2 / 3;
  grid-column: 3 / 9;
  margin-bottom: 50px;
}

.collapsible {
  padding: 0px 5px;
  display: none;
  grid-area: 3 / 1 / 4 / 5;
  background-color: #CDDDDD;
}

.grid-question {
  grid-area: 1 / 1 / 2 / 8;
}

.answer-grid {
  grid-column: 7 / 13;
  grid-row: 4 / 5;
}

.jumbotron {
  grid-row: 2 / 3;
  grid-column: 1 / 13;
  height: 400px;
  padding: 0 5%;
}

.jumbotron div {
  width: 50%;
}

.welcome {
  float: left;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
}


/* Page body grid setup */

.page-body {
  grid-row: 3 / 4;
  grid-column: 1 / 13;
  background-color: #CDDDDD;
  display: grid;
  grid-template: repeat( auto-fit, minmax(120px, 1fr) ) / 50px repeat(7, 1fr) 50px 1fr 1fr 50px;
  grid-auto-flow: row;
}

.slide-container {
  grid-column: 2 / 9;
  grid-row: 1 / 2;
}

.login-box {
  grid-column: 10 / 12;
  grid-row: 1 / 3;
  margin: 30px 0;
}

#form-container {
  display: none;
  grid-row: 1 / 2;
  grid-column: 2 / 8;
  margin-top: 30px;
}

.table_container {
  grid-row: 2 / 3;
  grid-column: 2 / 9;
  margin-bottom: 50px;
}

.table_container2 {
  grid-row: 3 / 4;
  grid-column: 2 / 9;
  margin-bottom: 50px;
}

.answer-container {
  grid-row: 2 / 3;
  grid-column: 3 / 9;
  margin-bottom: 50px;
}

/* Page description */

.route-container {
  margin-top: 50px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.route-container a {
  color: black;
}

.route-container a:hover {
  color: whitesmoke;
}

.tag_container {
  margin: 50px 0;
}

.tag {
  background-color: #f19117;
  padding: 2px 20px;
  border: 2px solid #A7ADC6;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 50px auto;
  height: 100%;
  width: 50%;
}

/* Form display */

.collapsible {
  padding: 0px 5px;
  display: none;
  grid-area: 3 / 1 / 4 / 5;
  background-color: #CDDDDD;
}

label {
  font-weight: bold;
  color: #2D3142;
  display: block;
  margin: 4px 0;
}

input, textarea {
  background: linear-gradient(90deg, #CDDDDD, #A7ADC6);
  font-size: 16px;
  color: black;
  resize: none;
  margin-bottom: 15px;
}

.input {
  background-color: #2D3142;
  color: whitesmoke;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 0px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
  border: 2px solid #404E4D;
}

.input:hover {
  background-color: #A7ADC6;
  color: black;
}

/* Login box */

.login-box form {
  display: inline;
}

.login-box .form-box {
  padding: 20px 21px 15px 16px;
  border: 2px solid #A7ADC6;
  background-color: #DAE6E6;
}

.login-box input {
  width: 100%;
}

.login-box .input {
  padding: 10px 18px;
}

/* Registration form */

.registration {
  width: 100%;
  margin: 30px 0px 20px 0px;
  padding-bottom: 50px;
}

.registration form {
  width: 300px;
  margin: 0 auto;
  padding: 30px 51px 35px 46px;
  border: 2px solid #A7ADC6;
  background-color: #DAE6E6;
}

.registration form input {
  width: 100%;
}

.registration form button {
  margin: 10px 30% 0 30%;
}

/* Table style */

table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0px;
}

.table_body td {
  border: 1px solid darkgrey;
}

td {
  padding: 10px 15px;
}

th {
  padding: 25px 10px;
  font-size: 20px;
}

tr:nth-child(1) {
  background-color: #2D3142;
  color: whitesmoke;
}

tr {
  border: 1px solid darkgrey;
  background-color: #bfc3d5;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #A7ADC6;
}

.table_body:hover {
  background-color: #f19117;
}

.table_body i {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.table_body td a {
  color: #2D3142;
}


/* Question display */

.grid-question {
  grid-area: 1 / 1 / 2 / 8;
}

.question {
  width: 100%;
  margin: 30px 0px 20px 0px;
  border-radius: 20px;
}

.question .header {
  background-color: #2D3142;
  padding: 2px 20px;
  color: whitesmoke;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vote-container button {
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 30px;
  padding: 0px 0px;
}

.question-container .vote-container p, .answer-container .vote-container p {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  justify-self: center;
  align-self: center;
}

.vote-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}

.vote-container i {
  font-size: 40px;
  padding: 0;
}

.vote-container button {
  color: #A7ADC6;
  cursor: pointer;
}

.vote-container button:hover {
  color: #f19117;
}

.question img, .answer img {
  max-height: 150px;
  max-width: 150px;
  display: block;
  margin: 20px 20px 20px 80px;
}

.question p {
  padding: 0 20px 20px 20px;
  margin-left: 60px;
}

.question-container {
  background-color: #DAE6E6;
  margin-bottom: 50px;
  border: 2px solid #A7ADC6;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer p {
  background-color: #A7ADC6;
  padding: 10px 10px 5px 10px;
  margin: 0 0 0 10px;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: whitesmoke;
}

/* Answer display */

.answer-grid {
  grid-column: 7 / 13;
  grid-row: 4 / 5;
}

.answer {
  width: 100%;
  margin: 30px 0px 20px 0px;
  background-color: #DAE6E6;
  border: 2px solid #f19117;
}

.answer-message {
  padding: 10px 20px;
  margin-left: 60px;
}

/* List all button */

.list {
  grid-row: 2 / 3;
  grid-column: 4 / 7;
  width: 100%;
  margin: 0 auto 100px auto;
}

.list a.button {
  width: 50%;
  margin: 0 60px;
  padding: 10px 29px;
}

/* Back to top link */

.to-top {
  margin-left: 5px;
  color: black;
}

.to-top:hover {
  color: #A7ADC6;
}

/* !!! OLD CODE !!! */

/* Banner list */

.banner {
  margin: 0 auto;
  grid-column: 4 / 10;
  grid-row: 1 / 2;
}

.banner img {
  width: 174px;
  height: 157px;
  vertical-align: middle;
}

.banner h1 {
  color: #f19117;
  text-shadow: 3px 3px 1px black;
  display: inline;
  font-variant: small-caps;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  position: relative;
  top: 20px;
}

/* Banner question */

.banner-question {
  display: flex;
  width: 100%;
  text-decoration: none;
  grid-column: 9 / 13;
  grid-row: 1 / 2;
}

.banner-question img {
  width: 127px;
  height: 115px;
  vertical-align: middle;
}

.banner-question h1 {
  color: #2f4f4f;
  text-shadow: 3px 3px 1px black;
  display: inline;
  font-variant: small-caps;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  position: relative;
}