<div class="login-box">
  <div class="form-box">
    <% if session[:username] %>
      <p>Welcome, <%= session[:username] %>!</p>
      <form action="{{ url_for('route_logout') }}" method="post">
        <button type="submit" class="input">Log Out</button>
      </form>
    <% else %>
      <form action="{{ url_for('route_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="input">Sign In</button>
      </form>
      <%= form_tag controller: 'users', action: 'new' do %>
        <input type="hidden" value="" name="new_user" id="new-user">
        <button type="submit" class="input">Sign Up</button>
      <% end %>
      <!-- TODO: add error handling -->
    <% end %>
  </div>
</div>